body{
    font-family: fantasy;
    font-size: larger;
    background-color: aqua;
    font-weight: bolder;
    margin:auto;
    text-align: center;
    
}
button:hover {
    border: 2px solid #682a98;
    background: #625c94;
}
