body{
    font-family: fantasy;
    font-size: x-large;
    background-color: aqua;
    font-weight: bolder;
    margin:auto;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    min-width: fit-content;
    
}
button:hover {
    border: 2px solid #682a98;
    background: #625c94;
}
