body{
    font-family: fantasy;
    font-size: x-large;
    background-color: aqua;
    font-weight: bolder;
    margin:auto;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    
    
}
button:hover {
    border: 2px solid #682a98;
    background: #625c94;
}
/* .Searchbar{
    position:absolute;
    top:355px;
    left:575px;
}
.Searchbar input{
    height:30px;
    width:50px;
} */